:root {
  --bg: #303030;
  --border: #3d3d3d;
  --table-header-color: #333333;
  --table-header-border-color: #1e1e1e;
  --table-odd-color: #282828;
  --table-even-color: #2b2b2b;
  --table-hover-color: #3f3f3f;
  --table-select-color: #3d5984;
  --table-hover-select-color: #54709a;
  --fg-gray: #545454;
  --fg-highlight: #797979;
  --fg-gray-hover: #656565;
  --input-active-bg: #222222;
  --font-color: #dadada;
  --shadow-color: #2f2f2f;
  --text-shadow-color: #202020;
  --selected: #4772b3;
  --menu-bar-bg: #262626;
  --menu-bar-selected: #3a5986;
  --menu-bar-selected-border: #4772b3;
  --menu-bg: #181818;
  --menu-border: #242424;
  --menu-line: #2f2f2f;
  --menu-selected: #4772b3;
  --window-title-bg: #404040;
  --window-border-color: #505050;
  --window-border-color-top: #606060;
  --window-border-color-bottom: #404040;
  --window-border: solid 1px var(--window-border-color);
  --window-border-shadow: 0px 1px 4px var(--shadow-color);
  --shadow: 0px 1px 1px var(--shadow-color);
  --text-shadow: 0px 1px 2px var(--text-shadow-color);
}

.side {
  width: 200px;
}

.block {
  padding-inline-start: 0px;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.block:first-child {
  margin-block-start: 0px;
}

.block>li {
  background-color: var(--fg-gray);
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-color: var(--border);
  border-width: 1px;
  list-style-type: none;
  padding: 6px 10px;
  cursor: default;
}

.block>li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: solid 1px var(--border);
}

.block>li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: var(--shadow);
}

.block>li:hover {
  background-color: var(--fg-gray-hover);
}

li.selected,
li.selected:hover {
  background-color: var(--selected);
}

.btn-group {
  display: flex;
  justify-content: space-around
}

.btn {
  background-color: var(--fg-gray);
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
  border-left: none;
  border-color: var(--border);
  border-width: 1px;
  list-style-type: none;
  padding: 2px 15px;
  box-shadow: var(--shadow);
  width: 100%;
  text-align: center;
}

.btn:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-left: solid 1px var(--border);
}

.btn:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.btn:hover {
  background-color: var(--fg-gray-hover);
}

.btn.selected,
.btn.selected:hover,
.btn:active {
  background-color: var(--selected);
}

.menu-bar {
  background-color: var(--menu-bar-bg);
  padding: 2px 10px;
  cursor: default;
}

.menu-bar>button {
  background-color: var(--menu-bar-bg);
  border-radius: 3px;
  border: solid 1px;
  border-color: var(--menu-bar-bg);
}

.menu-bar>button:hover {
  background-color: var(--menu-bar-selected);
  border-color: var(--menu-bar-selected-border);
}

.menu {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: var(--menu-bg);
  border: solid 1px var(--menu-border);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: var(--shadow);
}

.menu>li {
  list-style-type: none;
  padding: 2px 20px;
  border-radius: 3px;
  margin: 3px;
  cursor: default;
}

.menu>li.line,
.menu>li.line:hover {
  background-color: var(--menu-line);
  margin: 0px;
  padding: 1px 0px 0px 0px;
}

.menu>li:hover {
  background-color: var(--menu-selected);
}

.title {
  text-align: center;
  font-weight: 600;
}

.window {
  display: flex;
  flex-direction: column;
}

.window-head {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 20px;
  background: var(--window-title-bg);
  border: var(--window-border);
  border-top: solid 1px var(--window-border-color-top);
  box-shadow: var(--window-border-shadow);
}

.window-menu {
  background-color: var(--bg);
  border-left: var(--window-border);
  border-right: var(--window-border);
  border-bottom: var(--window-border);
  box-shadow: var(--window-border-shadow), inset 0px 7px 4px -6px var(--shadow-color);
}

.window-content {
  background-color: var(--bg);
  border-left: var(--window-border);
  border-right: var(--window-border);
  box-shadow: var(--window-border-shadow), inset 0px 7px 4px -6px var(--shadow-color);
  flex-grow: 1;
  height: calc(100% - 100vh);
}

.window-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 5px;
  background-color: var(--bg);
  border-left: var(--window-border);
  border-right: var(--window-border);
  border-bottom: var(--window-border);
  box-shadow: var(--window-border-shadow);
}

.window-footer.global {
  border-top: solid 1px var(--border);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nav-content {
  display: grid;
  grid-template-columns: 150px auto;
}

.nav {
  grid-column: 1;
  padding: 10px;
}

.content {
  grid-column: 2;
  padding: 10px;
}

.props {
  display: grid;
  grid-template-columns: 30% 70%;
}

.prop-label {
  grid-column: 1;
  justify-self: end;
  padding-top: 3px;
  padding-right: 10px;
}

.prop-content {
  grid-column: 2;
}

.prop-spacer {
  grid-column: 1 / -1;
  height: 5px;
}

.check {
  display: block;
  position: relative;
  padding-left: 18px;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: var(--fg-gray);
  border-radius: 2px;
  box-shadow: var(--shadow);
  border: solid 1px var(--border);
}

.check:hover input~.mark {
  background-color: var(--fg-gray-hover);
}

.check input:checked~.mark {
  background-color: var(--selected);
}

.mark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked~.mark:after {
  display: block;
}

.check .mark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  border-radius: 1px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stack-center {
  align-self: center;
}

.select {
  background-color: var(--input-active-bg);
  border: solid 1px var(--border);
  border-radius: 3px;
  box-shadow: 0px 1px 1px var(--shadow-color);
  padding: 2px 5px;
  position: relative;
}

.select:hover {
  background-color: var(--bg);
}

.select:after {
  position: absolute;
  content: "";
  top: 5px;
  right: 6px;
  width: 5px;
  height: 5px;
  border: solid var(--font-color);
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  border-radius: 1px;
}

.section {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: var(--border);
  border: solid 1px var(--fg-gray);
  box-shadow: var(--shadow);
}

.section-head {
  padding: 5px 10px;
}

.section-content {
  padding: 5px;
}

.table {
  background-color: var(--table-odd-color);
  border-radius: 3px;
  box-shadow: var(--shadow);
  border: solid 1px var(--fg-gray);
  overflow: auto;
  height: 100%;
}

.table::-webkit-scrollbar {
  width: 5px;
}

.table::-webkit-scrollbar-track {
  background-color: transparent;
}

.table::-webkit-scrollbar-thumb {
  background-color: var(--fg-gray);
  border-radius: 3px;
}

.table-row-content {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin: 0px 5px;
  padding: 2px 5px;
}

.table-head {
  background-color: var(--table-header-color);
  position: sticky;
  top: 0px;
  border-bottom: solid 1px var(--table-header-border-color);
  padding: 2px 0px;
}

.table-head>.table-row-content {
  margin-top: 0px;
  margin-bottom: 0px;
}


.table-row {
  background-color: var(--table-odd-color);
}

.table-row:nth-child(even) {
  background-color: var(--table-even-color);
}

.table-row:first-child {
  padding-top: 2px;
}

.table-row:last-child {
  padding-bottom: 2px;
}

.table-row>.table-row-content:hover {
  background-color: var(--table-hover-color);
  border-radius: 3px;
}

.item-bar {
  display: flex;
  justify-content: flex-end;
}

.hitem {
  border-right: solid 1px var(--border);
  margin: 5px 0px;
  padding: 0px 5px;
}

.hitem:last-child {
  border-right: none;
  /* margin-right: 10px; */
}

.desktop {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.desktop-head {}

.desktop-content {}

.desktop-footer {
  background-color: var(--bg);
}

input[type=text] {
  background-color: var(--fg-gray);
  border: solid 1px var(--border);
  border-radius: 3px;
  box-shadow: var(--shadow);
  padding: 2px 5px;
  text-align: center;
  cursor: text;
  user-select: auto;
}

input[type=text].top {
  border-radius: 3px 3px 0px 0px;
}

input[type=text].mid {
  border-radius: 0px;
  border-bottom: none;
}

input[type=text].bottom {
  border-radius: 0px 0px 3px 3px;
  border-top: none;
}

input[type=text]:hover {
  background-color: var(--fg-gray-hover);
}

input[type=text]:focus-visible {
  outline: none;
  background-color: var(--input-active-bg);
  text-align: left;
}

* {
  color: var(--font-color);
  text-shadow: var(--text-shadow);
  font-size: 12px;
  font-family: sans-serif;
  cursor: default;
  user-select: none;
}

body {
  background-color: #505050;
  margin: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}