:root {
  --bg: #303030;
  --border: #3d3d3d;
  --fg-gray: #545454;
  --fg-gray-hover: #656565;
  --input-active-bg: #222222;
  --font-color: #dadada;
  --font-shadow: #101010;
  --box-shadow: #282828;
  --selected: #4772b3;
  --menu-bar-bg: #262626;
  --menu-bar-selected: #3a5986;
  --menu-bar-selected-border: #4772b3;
  --menu-bg: #181818;
  --menu-border: #242424;
  --menu-line: #2f2f2f;
  --menu-selected: #4772b3;
  --window-title-bg: #404040;
  --window-border-color: #505050;
  --window-border-color-top: #606060;
  --window-border-color-bottom: #404040;
  --window-border: solid 1px var(--window-border-color);
  --window-border-shadow: 0px 1px 4px var(--box-shadow);
}

.side {
  width: 200px;
}

.block {
  padding-inline-start: 0px;
  margin-block-start: 8px;
  margin-block-end: 0px;
}

.block:first-child {
  margin-block-start: 0px;
}

.block>li {
  background-color: var(--fg-gray);
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
  border-color: var(--border);
  border-width: 1px;
  list-style-type: none;
  padding: 6px 10px;
  cursor: default;
}

.block>li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: solid 1px var(--border);
}

.block>li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1px 0px var(--box-shadow);
}

.block>li:hover {
  background-color: var(--fg-gray-hover);
}

li.selected,
li.selected:hover {
  background-color: var(--selected);
}

.btn-group {
  display: inline-block;
}

.btn-group>button {
  float: left;
  background-color: var(--fg-gray);
  border-bottom: solid;
  border-top: solid;
  border-right: solid;
  border-left: none;
  border-color: var(--border);
  border-width: 1px;
  list-style-type: none;
  padding: 3px 15px;
  box-shadow: 0px 1px 0px var(--box-shadow);
}

.btn-group>button:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-left: solid 1px var(--border);
}

.btn-group>button:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.btn-group>button:hover {
  background-color: var(--fg-gray-hover);
}

button.selected,
button.selected:hover {
  background-color: var(--selected);
}

.menu-bar {
  background-color: var(--menu-bar-bg);
  padding: 2px 10px;
  cursor: default;
}

.menu-bar>button {
  background-color: var(--menu-bar-bg);
  border-radius: 3px;
  border: solid 1px;
  border-color: var(--menu-bar-bg);
}

.menu-bar>button:hover {
  background-color: var(--menu-bar-selected);
  border-color: var(--menu-bar-selected-border);
}

.menu {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: var(--menu-bg);
  border: solid 1px var(--menu-border);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 1px 2px var(--box-shadow);
}

.menu>li {
  list-style-type: none;
  padding: 2px 20px;
  border-radius: 3px;
  margin: 3px;
  cursor: default;
}

.menu>li.line,
.menu>li.line:hover {
  background-color: var(--menu-line);
  margin: 0px;
  padding: 1px 0px 0px 0px;
}

.menu>li:hover {
  background-color: var(--menu-selected);
}

.title {
  text-align: center;
}

.window {
  width: 500px;
  display: grid;
}

.window-head {
  grid-row: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 20px;
  background: var(--window-title-bg);
  border: var(--window-border);
  border-top: solid 1px var(--window-border-color-top);
  box-shadow: var(--window-border-shadow);
  /* background: linear-gradient(0deg, var(--window-title-bg), var(--window-border-color) 20%); */
}

.window-menu {
  grid-row: 2;
  background-color: var(--bg);
  border-left: var(--window-border);
  border-right: var(--window-border);
  border-bottom: var(--window-border);
  box-shadow: var(--window-border-shadow), inset 0px 7px 4px -6px var(--box-shadow);
}

.window-body {
  grid-row: 3;
  display: grid;
  background-color: var(--bg);
  border-left: var(--window-border);
  border-right: var(--window-border);
  box-shadow: var(--window-border-shadow), inset 0px 7px 4px -6px var(--box-shadow);
}

.window-footer {
  grid-row: 4;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 5px;
  background-color: var(--bg);
  border-left: var(--window-border);
  border-right: var(--window-border);
  border-bottom: var(--window-border);
  box-shadow: var(--window-border-shadow);
  /* border-bottom: solid 1px var(--window-border-color-top); */
}

.nav-content {
  display: grid;
  grid-template-columns: 150px auto;
}

.nav {
  grid-column: 1;
  padding: 10px;
}

.content {
  grid-column: 2;
  padding: 10px;
}

.props {
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5px 10px;
}

.prop-label {
  grid-column: 1;
  justify-self: end;
  padding-top: 4px;
}

.prop-content {
  grid-column: 2;
}

.check {
  display: block;
  position: relative;
  padding-left: 18px;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: var(--fg-gray);
  border-radius: 2px;
  box-shadow: 0px 1px 1px var(--box-shadow);
  border: solid 1px var(--border);
}

.check:hover input~.mark {
  background-color: var(--fg-gray-hover);
}

.check input:checked~.mark {
  background-color: var(--selected);
}

.mark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked~.mark:after {
  display: block;
}

.check .mark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  border-radius: 1px;
}


input[type=text] {
  background-color: var(--fg-gray);
  border: solid 1px var(--border);
  border-radius: 3px;
  box-shadow: 0px 1px 1px var(--box-shadow);
  padding: 2px 5px;
}

input[type=text]:focus-visible {
  outline: none;
  background-color: var(--input-active-bg);
}

* {
  color: var(--font-color);
  text-shadow: 0px 1px 2px var(--font-shadow);
  font-size: 12px;
  font-family: sans-serif;
}

body {
  background-color: #505050;
}